@model LoanCalculator.Models.Loan

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<div>
    @Model.MonthlyRepayment.ToString("c")
</div>
<div>
    @for(; Model.Amount > 0; Model.TermInMonths--)
    {
        Model.MonthlyTransaction();
        <p>@Model.Amount.ToString("c")</p>
    }
</div>