@model LoanCalculator.Models.Loan

@{
    ViewBag.Title = "Result";
}

<div class="jumbotron">
    @Model.MonthlyRepayment.ToString("c")
    @Model.TotalInterest.ToString("c")
    @Model.TotalRepaid.ToString("c")
</div>

@if (Model.APR != 0)
{
    <div>
        <table class="table">
            <tr>
                <th>Month</th>
                <th>Starting balance</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Closing balance</th>
            </tr>

            @foreach (var transaction in Model.Transactions)
            {
                Html.RenderPartial("_Transaction", transaction);
            }
        </table>
    </div>
}