@model LoanCalculator.Models.Loan

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<div class="jumbotron">
    @Model.MonthlyRepayment.ToString("c")
    @Model.TotalInterest.ToString("c")
    @Model.TotalRepaid.ToString("c")
</div>
<div>
    <table class="table">
        <tr>
            <th>Month</th>
            <th>Starting balance</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Closing balance</th>
        </tr>

        @foreach (var transaction in Model.Transactions)
            {
                Html.RenderPartial("_Transaction", transaction);
            }
    </table>
</div>