@model LoanCalculator.Models.Loan
@using Chart.Mvc.ComplexChart;
@using Chart.Mvc.SimpleChart;
@using Chart.Mvc.Extensions

@{

    var pieChart = new PieChart();
    pieChart.Data.AddRange(new List<SimpleData>
    {
        new SimpleData
        {
            Value = (double)Math.Round(Model.TotalInterest, 2),
            Label = "Interest",
            Color = "rgba(220, 0, 0, 0.5)",
        },
        new SimpleData
        {
            Value = (double)Math.Round(Model.Amount, 2),
            Label = "Capital",
            Color = "rgba(0, 220, 0, 0.5)"
        }
    });
}

<div class="row">
    <h2>Information about loan</h2>
    <div class="col-md-4">
        <h3>Monthly repayment: @Model.MonthlyRepayment.ToString("c")</h3>
    </div>
    <div class="col-md-4">
        <h3>Total interest: @Model.TotalInterest.ToString("c")</h3>
    </div>
    <div class="col-md-4">
        <h3>Total amount to repay: @Model.TotalRepaid.ToString("c")</h3>
    </div>
</div>

@if (Model.APR != 0)
{
    <div>
        <table class="table">
            <tr>
                <th>Month</th>
                <th>Starting balance</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Closing balance</th>
            </tr>

            @foreach (var transaction in Model.Transactions)
            {
                Html.RenderPartial("_Transaction", transaction);
            }
        </table>
    </div>
}

@Html.CreateChart("results", pieChart)